<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superhero Wallet</title>
  <link rel="stylesheet" href="<%= PLATFORM === 'web' ? '/' : '' %>popup.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <% if (PLATFORM === 'web') { %>
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <% } %>
  <style>
    .popup, body, .ae-main { min-width: 357px; }
  </style>
</head>
<body>
  <div id="app"></div>
  <script src="<%= PLATFORM === 'web' ? '/' : '' %>popup.js"></script>
  <% if (PLATFORM === 'cordova') { %>
  <script type="text/javascript" src="./cordova.js"></script>
  <% } %>
</body>
</html>
