{
  "plugins": [
    "@babel/plugin-transform-spread",
  ],
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      // https://jamie.build/last-2-versions
      "targets": "> 0.25%, not ie 11, not op_mini all",
      "corejs": 3
    }]
  ]
}
