/node_modules
/*.log
/*.sh
/dist
/dist-zip
/cypress
/bower_components
/.history
/.idea
/.nyc_output
.DS_Store
/tests/e2e/videos/
/tests/e2e/screenshots/
/coverage

# local env files
.env.local
.env.*.local

# Ionic files
/www
/plugins
/resources/*/icon
/resources/*/splash

# Vue Browser Extension Output
*.pem
*.pub
*.zip
/artifacts
