@import '../../../styles/variables';

.balanceSpend {
  font-size: 2rem;
  color: $white-color;
}

.spendTxDetailsList .ae-list-item {
  position: relative;
  cursor: unset;
  font-size: 0.8rem;
}

.spendTxDetailsList .ae-button {
  margin-bottom: 0;
}

.arrowSeprator {
  margin-right: 1rem;
  background: $accent-color;
  color: $white-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid $white-color;
  line-height: 20px;

  .ae-icon {
    font-size: 1.2rem;
    float: none;
  }

  &::after {
    content: '';
  }
}

.ae-identicon.base {
  border: 0.125rem solid transparent;
  -webkit-box-shadow: 0 0 0 2px $secondary-color;
  box-shadow: 0 0 0 1px $secondary-color;
  width: 2rem;
}

.spendAccountAddr {
  padding: 0 0.5rem;
  font-weight: normal;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noBorder {
  border-top: none;
}

.accountFrom {
  width: 40%;
}

.accountTo {
  width: 70%;

  .ae-icon {
    font-size: 2rem;
  }
}

.ae-badge {
  background: $accent-color;
  color: $white-color;
  -webkit-box-shadow: 0 0 0 2px $accent-color;
  box-shadow: 0 0 0 2px $accent-color;
  border: 2px solid $bg-color;
}

.extend {
  width: 100%;
}

.tx-label {
  margin-top: 0.4rem;
}

.ae-identicon {
  width: auto;
}
