@import '../styles/variables';

.action-superhero-tip {
  align-self: center;
  white-space: nowrap;

  &.small-tweet {
    margin-left: calc(1em + 20px);
  }

  &.youtube {
    margin-left: 9px;
    height: 20px;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;

    &,
    span {
      color: $color-light-grey;
    }

    img {
      height: 16px;
      vertical-align: middle;
    }

    span {
      font-size: 12px;
      font-weight: bold;
      margin-left: 6px;
      position: relative;
    }

    &:hover {
      span {
        color: $color-blue;
      }

      img {
        filter: invert(52%) sepia(46%) saturate(3166%) hue-rotate(186deg) brightness(100%) contrast(104%);
      }
    }
  }
}
