@use 'typography';

body {
  &,
  > noscript {
    > p.fullscreen-message {
      margin: 0 auto;
      padding-top: 30vh;
      padding-left: 20px;
      padding-right: 20px;
      max-width: 400px;
      text-align: center;

      @extend %face-sans-20-regular;

      &.white {
        color: white;
      }
    }
  }
}
