@import '~fontsource-roboto/100-normal.css';
@import '~fontsource-roboto/300-normal.css';
@import '~fontsource-roboto/400-normal.css';
@import '~fontsource-roboto/500-normal.css';
@import '~fontsource-roboto/700-normal.css';
@import '~fontsource-roboto/900-normal.css';
@import '~fontsource-roboto/100-italic.css';
@import '~fontsource-roboto/300-italic.css';
@import '~fontsource-roboto/400-italic.css';
@import '~fontsource-roboto/500-italic.css';
@import '~fontsource-roboto/700-italic.css';
@import '~fontsource-roboto/900-italic.css';
@import './variables';

::-webkit-scrollbar {
  width: 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $main-font-color;
  min-width: 357px;
  min-height: 600px;
  background-color: #f5f5f5;
}

body {
  margin: 0;
  font-size: inherit;
  min-height: 600px;
}

a {
  color: $accent-color;
  text-decoration: underline;
  cursor: pointer;
}

p {
  word-break: break-word;
  font-weight: bolder;
  margin-left: 3px;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.ae-main {
  padding-bottom: 0;
}

.ae-button.ledger {
  background: $ledger-color;
}

.ae-button {
  border-radius: 8px;
  height: 52px;
  padding: 0 2.5rem;
}

.button-fixed {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 357px;
  max-width: 357px;
  min-width: 357px;
  background: $bg-color;
  padding: 10px 0;

  button {
    margin-bottom: 0;
  }

  .ae-button.round {
    padding: 0 0.5rem;
  }

  button .ae-icon {
    font-size: 1.5rem;
  }
}

.date {
  margin-left: rem(-48px);
  margin-right: rem(-48px);
  padding-left: rem(48px);
}

.input {
  outline: none;
  resize: none;
  background: #f7fafc;
  border: none;
  padding-left: 1rem;
}

.textarea {
  outline: none;
  resize: none;
  border: none;
  padding-left: 1rem;
  min-height: 110px;
  max-height: 200px;
}

.flex {
  display: flex;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.balance {
  font-weight: bold;
  color: $color-neutral-negative-1;
  font-family: monospace;

  &.invert {
    color: #fff;
  }

  &::after {
    content: ' AE';
  }

  &.no-sign::after {
    content: '';
  }
}

.input-container {
  margin: 1.2rem 0;
}

.ae-panel {
  margin: 1.5rem 0;
}

.ae-panel .content > h4 {
  margin: 0;
  text-align: left;
}

@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }

  .ae-main {
    width: 357px;
    margin: 0 auto;
  }
}

.ae-identicon.base {
  height: 100%;
  width: 100%;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px;
  height: 25px;
  line-height: 25px;
}

input:focus {
  border-bottom: 1px solid #ddd;
}

button:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  color: #717c87;
}

.popup {
  padding: 4px 20px;
  text-align: center;
  font-size: 16px;
  max-width: 357px;
  margin: 0 auto;
  position: relative;
}

.identicon {
  margin-right: 10px;
}

.ae-check > input[type='checkbox']:checked + .ae-check-button::before {
  border-color: #dae1ea;
}

.actions {
  text-align: left;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 780px) {
  @-moz-document url-prefix() {
    .ae-main {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 380px) {
  .ae-main {
    max-width: 357px;
    margin: 0 auto;
  }

  @-moz-document url-prefix() {
    .ae-main {
      max-width: 357px;
      margin: 0 auto;
    }
  }
}

html,
body {
  height: 100%;
}

html,
body,
.ae-main {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size;
  color: $white-color;
  background: $bg-color;
}

.popup-no-padding {
  padding: 4px 0;
}

#app {
  font-family: 'Roboto', sans-serif;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.primary-bg {
  background: $bg-color;
}

.text {
  color: $text-color;
}

.primary-title {
  color: $white-color;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 27px;
  margin-left: 0;
}

.secondary-text {
  color: $secondary-color;
}

.logo {
  margin: 60px 0;
}

.error-msg {
  color: $input-error-color;
  margin-top: 22px;
  font-size: 0.88rem;
}

.heading-1 {
  font-size: 18px;
  font-weight: normal;
  margin: 8px 0;
}

.link-sm {
  font-size: 11px;
  margin: 8px 0;
}

.block {
  display: block;
}

/* Font size 14 */
.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-24 {
  font-size: 24px;
}

.l-1 {
  line-height: 1.2;
}

.balance-box {
  width: 80px;
  text-align: left;
  border-left: 1px solid $border-color;
  padding-left: 10px;
}

.amount-box {
  width: 120px;
}

.hidden {
  visibility: hidden;
}

.tip-note-preview {
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  border: 1px dashed $text-color;
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: left;
  word-break: break-word;
}

/**
* POPUP WINDWOS
*/
.popup-aex2 {
  max-height: 600px;
  min-height: 600px;
  margin-bottom: 55px;
  position: relative;
  // overflow-y:scroll;
  h2 {
    word-break: break-word;
    line-height: 1.8rem;
    font-size: 1.2rem;
  }

  p {
    font-weight: normal;
    word-break: break-word;
    font-size: 0.9rem;
  }

  ul li {
    border-width: 1px;
    border-color: #424242;
  }

  .permission-set {
    flex-direction: column;
    text-align: left;
    cursor: unset;

    h4 {
      display: block;
      width: 100%;
      margin: 0;
    }

    p {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  ul {
    padding: 0;
  }

  .account-name {
    font-size: 0.8rem;
    word-break: break-word;
    white-space: nowrap;
  }

  .hostname {
    font-size: 0.65rem;
    word-break: break-word;
  }
}

/**
* Dynamic Margins Utilities Classes
*/
@mixin margin-left($i) {
  margin-left: $i + px;
}

@mixin margin-right($i) {
  margin-right: $i + px;
}

@mixin margin-bottom($i) {
  margin-bottom: $i + px;
}

@mixin margin-top($i) {
  margin-top: $i + px;
}

@mixin margin-x($i) {
  margin-left: $i + px;
  margin-right: $i + px;
}

@mixin margin-y($i) {
  margin-top: $i + px;
  margin-bottom: $i + px;
}

@for $i from 1 through 40 {
  .ml-#{$i} { @include margin-left($i); }
  .mr-#{$i} { @include margin-right($i); }
  .mb-#{$i} { @include margin-bottom($i); }
  .mt-#{$i} { @include margin-top($i); }
  .mx-#{$i} { @include margin-x($i); }
  .my-#{$i} { @include margin-y($i); }
}
