@use './typography';
@use './variables' as *;
@use './transitions';

@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: $color-green;
  text-decoration: underline;
  cursor: pointer;
}

p {
  margin: 0;
  word-break: break-word;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

button:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  color: $color-light-grey;
}

#app {
  font-family: $font-sans;
}

.error-msg {
  color: $color-error;
  margin-top: 22px;
  font-size: 0.88rem;
}

.tip-note-preview {
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  border: 1px dashed $color-white;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: left;
  word-break: break-word;
}

.text {
  &-center {
    text-align: center;
  }

  &-heading-2 {
    @extend %face-sans-18-medium;

    margin-bottom: 0.4em;
    color: $color-white;
  }
}
