@use 'variables';

@mixin mobile {
  @media (min-width: variables.$extension-width + 2) and (max-width: variables.$phone-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: variables.$phone-width + 1) {
    @content;
  }
}

@mixin collapsed {
  @media screen and (max-height: 250px) {
    @content;
  }
}

@mixin flex($vertical: flex-start, $horizontal: flex-start, $flow: row) {
  display: flex;
  justify-content: $vertical;
  align-items: $horizontal;
  flex-flow: $flow;
}
