$base-font-size: 16px;
$font-sans: 'IBM Plex Sans', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-blue: #1161fe;
$color-blue-hover: #0e52d8;
$color-blue-alpha-15: rgba(17, 97, 254, 0.15);
$color-green: #00ff9d;
$color-green-hover: #00dc87;
$color-green-alpha-10: rgba(0, 255, 157, 0.1);
$color-light-grey: #babac0;
$color-dark-grey: #787878;

$color-border: #232323;
$color-border-hover: #2f2f2f;
$color-bg-1: #0f0f0f;
$color-bg-2: #141414;
$color-bg-3: #090909;
$color-hover: #191919;

$color-warning: #ffaa29;
$color-error: #ff4746;

$color-neutral-negative-1: #76818c;
$ledger-color: #203040;

/** Colors for new designs */

$bg-color: #000;
$white-color: #f1f1f1;
$border-color: #33343e;
$input-bg-color: #0d0d13;
$button-color: #2a9cff;
$button-text-color: #fff;
$modal-background: #1b1b23;
$placeholder-color: #67676d;
$text-color: #bcbcc4;
$accent-color: #67f7b8;
$secondary-color: #2a9cff;
$nav-bg-color: #0a0a0a;
$input-focus-color: #2a9cff;
$input-error-color: #ff5857;
$error-color: #ff5857;
$transactions-bg: #12121b;
$nav-border-color: #3a3a47;
$tx-border-color: #33343e;
$box-button-color: #33343e;
$scrollbar-color: #707075;
$submenu-bg: #1b1b23;
$black-color: #000;
$filters-bg: #111117;
$untrustred-badge-bg: #ff5857;
$not-verified-badge-bg: #ffa857;
$tour-bg-color: #12121b;
$tour-start-bg-color: #33343e;
$gray-1: #babac0;
$gray-2: #727278;
$gray-3: #747474;
$black-1: #21222c;
$black-2: #1c1c24;
$black-3: #2a2b35;
$white-1: #fff;
$border-track-color: #515259;
