@import '../../../../styles/variables';

.confirm-tx-sign-modal.modal .container {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0;

  .body,
  .header {
    max-width: 357px;
    margin: 0 auto;
    min-width: 357px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 480px;
    min-width: 357px;
    padding-bottom: 15px;
    padding-top: 15px;
    background: $modal-background;

    .primary-button {
      width: 50%;
    }
  }

  .name-holder {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
