$main-font-color: #333;

$main-color: #08c;

$input-background:#ececec;
$input-toolbar-background:#e0e0e0;
$input-toolbar-color:#000;
$primary-color:#FF0D6A;
$input-border-color:#B300FF;
$color-neutral-negative-1: #76818C;
$color-neutral-negative-2: #203040;
$color-alternative: #14CCB7;
$color-secondary:#6948A1;
$ledger-color:#203040;

::-webkit-scrollbar {	
  width: 1px;
  background-color: transparent;
}	

::-webkit-scrollbar-track {	

}	

::-webkit-scrollbar-thumb {	
  border-radius: 10px;	
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.7); 	
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: $main-font-color;
}

body {
  margin: 0;
  font-size: inherit;
}

a {
  color: $main-color;
}
p {
  word-break: break-word;
}
.ae-input-container.focus { 
  caret-color: $primary-color !important;
  border-left: 2px solid $primary-color !important;
}
.ae-input-container.focus .ae-input-label {
  color: $primary-color !important;
  white-space: nowrap;
}
.invisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.sendContent .ae-dropdown {
  margin-bottom:0 !important;
  width: 4rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
}
.sendContent .ae-dropdown .ae-dropdown-button, .sendAmount .ae-dropdown .ae-dropdown-button {
  width: 100% !important;
  height: 16px !important;
  font-size: 1.3rem;
}
.wrapper {
  max-width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 3rem;
}

main {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.loading {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.ae-input-container {
  .ae-input-box { 
    background: $input-background !important;
  }
  .ae-toolbar { 
    background: $input-toolbar-background;
    color:$input-toolbar-color;
  }
}
.modal-two-buttons .ae-modal-light {
  position:relative;
  width: 100%;
}
.modal-two-buttons .buttons {
  position:absolute;
  left:0;
  right:0;
  height:56px;
}
.modal-two-buttons .buttons button {
  height:56px; 
  border-radius: 0 !important;
}
.modal-two-buttons .buttons button:first-child {
  border-bottom-left-radius:10px !important;
}
.modal-two-buttons .buttons button:last-child {
  border-bottom-right-radius:10px !important;
  word-break: break-word
}
.ae-overlay .ae-modal-light .buttons { 
  margin-top:5px !important;
}
.signature-modal .buttons, .seeAllRegisteredNames .buttons {
  display: none !important;
}
.ae-overlay .ae-modal-light h1 {
  word-break: break-word;
}
.ae-overlay .ae-modal-light main { 
  padding-bottom:1rem; 
}
.ae-modal-light > main > div {
  word-break: break-word;
  white-space: pre-line;
}
.ae-main {
  padding-bottom:0 !important;
}
.ae-button.ledger {
  background:$ledger-color !important;
}
.btnFixed {
  position: fixed !important;
  bottom: 25px;
  left:50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  width:340px;
  button {
      margin-bottom:0 !important;
  }
  .ae-button.round {
      padding: 0 0.5rem !important;
  }
  button .ae-icon { 
      font-size:1.5rem !important;
  }
}
.customFileUpload {
  display: block;
  padding:0;
  cursor: pointer;
  background: $input-background;
  font-weight: normal;
  border-radius: 4px;
  .file-toolbar {
    background: $input-toolbar-background;
    color:$input-toolbar-color;
    padding: 0 1rem;
    margin:0;
    font-weight: normal;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 0.6875rem;
    letter-spacing: 0.1em;
    line-height: 0.75rem;
    text-transform: uppercase;
    font-family: "Inter UI", sans-serif;
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
  }
  .file-label { 
      padding: 0.5rem 1rem;
      display:inline-block;
      font-family: "Inter UI", sans-serif;
      font-size: 0.8125rem;
      letter-spacing: 0.02em;
      line-height: 1rem;
      color: #76818C;
      padding-bottom:0;
  }
  .file-input {
    font-family: "Inter UI", sans-serif;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    align-self: center;
    justify-self: center;
    flex: 0 1 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    outline: none;
  }
}
.ae-overlay {
  z-index:5;
}
.transactionList, .allTransactions {
  padding:0 !important;
  .ae-badge.primary {
    background:$primary-color;
  }
  .ae-badge.alternative{
      background:$color-alternative;
  }
  .ae-badge.secondary{
      background:$color-secondary;
  }
  .ae-badge {
      background:#929CA6;
      color:#fff !important;
      font-size:.7rem;
  }
}
.allTransactions .ae-identicon {
  margin-left: 1rem;
}
.transactionsPadding {
  padding:1rem !important;
  margin-top:0;
}
.tabs, .date {
  margin-left: rem(-48px);
  margin-right: rem(-48px);
  padding-left: rem(48px);
}
.tabs {
  box-shadow: 0 4px 2px -2px rgba(27, 68, 121, 0.1);
  span {
    cursor: pointer;
    display:inline-block;
    width:32%;
    font-weight: bold;
    text-align: center;
    color: #203040;
    padding-bottom:5px;
    &.tab-active {
      border-bottom: 2px solid $primary-color;
    }
  }
}
@mixin size($width, $height: 0) {
  @if $height <= 0 {
    $height: $width
  }
  width: $width;
  height: $height;
}

// auto hyphens
@mixin hyphens {
  word-break: break-all;
  hyphens: auto;
}

// border-bottom
@mixin border-bottom {
  border-bottom: 1px solid #ccc;
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    float: none;
    clear: both;
  }
}

.my-2 {
  margin-top:2em;
  margin-bottom:2em;
}
.mb-0 {
  margin-bottom:0 !important;
}
.mb-1 {
  margin-bottom:1rem;
}
.mb-5 {
  margin-bottom:5rem !important;
}
.input {
  outline:none;
  resize:none;
  background:#F7FAFC !important;
  border:none;
  padding-left:1rem;
}

.textarea { 
  outline:none;
  resize:none;
  background:$input-background !important;
  border:none;
  padding-left:1rem;
  min-height: 110px;
  max-height: 200px;
}

.flex-direction-column { 
  flex-direction: column;
}
.flex {
  display:flex;
}
.flex-col {
  width:100%;
}
.flex-justify-between{
  justify-content: space-between;
}
.flex-justify-content-arround {
  justify-content: space-around;
}
.flex-justify-content-center{
  justify-content: center;
}
.flex-justify-items-left {
  justify-items: left !important;
}
.flex-align-center { 
  align-items: center;
}
.flex-align-start { 
  align-items: flex-start !important;
}
.transactionOutgoing {
  background:$color-secondary !important;
  color:#fff !important;
}
.transactionIncoming {
  background:$color-alternative !important;
  color:#fff !important;
}
.badgeTransactionType {
  height:auto !important;
  padding:0.2rem 0.5rem !important;
}
.balance {
  font-weight: bold;
  color: $color-neutral-negative-1;
  font-family: monospace;
  &.invert {
      color: #fff;
  }

  &:after {
      content: ' AE';
  }
  &.no-sign:after {
    content: '';
  }
}
.balanceBig {
  font-size:1.5rem;
  color:#001833;
}
.balanceTotalSpend {
  color:$primary-color;
}
.popup-modal { width: 100%; }
.popup-button { width:60%; }

.backbutton {
  color: #62D9CB; 
  text-transform: uppercase; 
  font-weight: 700;
}
.backbutton  .ae-icon {
  vertical-align: top;
  line-height: 15px;
}
.ae-modal-light {
  width:100% !important;
}
.input-container {
  margin:1.2rem 0;
}
.alert-card .ae-card-main {
  justify-content: start !important;
  align-items: center !important;
}
.ae-panel {
  margin-top:1.5rem !important;
  margin-bottom:1.5rem !important;
}
.ae-panel .content > h4 {
  margin:0;
  text-align: left;
}
.modaltitle {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
  width: 90%;
  font-size: 1.5rem;
}

/**  
* Slider Styles
**/
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 5px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider {
    width: 100%;
    position:relative;
    .tipAmount {
        position:absolute;
        color: #909090;
        font-size: 0.9rem;
    }
    .tipMin {
        left:0;
    }
    .tipMax {
        right:0;
    }
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 25px 0;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $primary-color;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  &:active::-webkit-slider-thumb {
    background: $primary-color;
  }
  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $primary-color;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
  &:active::-moz-range-thumb {
    background: $primary-color;
  }
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}

::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}

/**
* End slider styles
*/


.dropdown-menu {
  margin-bottom: 1rem;
  width: 100%;
  height: 4rem;
  background: #ececec;
  border: 0;
  font-size: 19px;
  text-align: center;
  padding: 10px;
  outline: none;
}
.dropdown-menu:active, .dropdown-menu:focus {
  border: none;
  outline: none;
  border-left: 2px solid #ff0d6a;
}
.dropdown-menu option {
  height: 4rem;
  padding: 10px;
  width: 100%;
  border:none;
}

.tokenRegistry .ae-check-button:after {
  width: 29px;
  height: 26px;
  top:7px;
}
.tokenRegistry .ae-check-button:before {
  top:7px;
}
.tokenRegistry .ae-check-button { 
  padding-left:3rem;
  word-break: break-word;
  text-align: left;
  margin-bottom:1rem;
}

.token-action-holder {
  background-color: #ececec;
}
.custom-ae-input-header {
  position: relative;
    display: flex;
    flex: 0 0;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
}
.custom-ae-input-label {
  color: #76818C;
    font-family: "Inter UI", sans-serif;
    font-size: 0.8125rem;
    letter-spacing: 0.02em;
    line-height: 1rem;
}
.tokenExtensions .ae-check-button:after {
  width: 29px;
  height: 26px;
  top:7px;
}
.tokenExtensions .ae-check-button:before {
  top:7px;
}
.tokenExtensions {
  width: 100%;
}
.tokenExtensions .ae-check-button { 
  padding-top: 0.8rem;
  padding-left:3rem;
  word-break: break-word;
  text-align: left;
  margin-bottom:1rem;
}
.small-checkbox .ae-check-button:after,.small-checkbox .ae-check-button:before{
  left:0;
}
.small-checkbox .ae-check-button:after {
  width: 16px;
  height: 16px;
  top: 0px;
  background-size: 0.6rem;
  padding:2px;
}
.small-checkbox .ae-check-button:before {
  top:0px;
  width:16px;
  height:16px;
}
.small-checkbox .ae-check-button { 
  font-family: "Segoe UI", Tahoma, sans-serif;
  padding-left:25px;
  word-break: break-word;
  text-align: left;
  margin-bottom:0;
  font-size:1rem;
}
.mr-auto {
  margin-right:auto;
}