@import './variables';

body, .ae-main, html {
    background: $bg-color !important;
    font-size:$font-size;
    font-family: 'Roboto', sans-serif !important;
}
body, html {
    height: 100%;
}
.popup {
    max-width: 357px !important;
    margin:0 auto;
    position:relative;
}
.popup-no-padding {
    padding: 4px 0;
}
#app {
    font-family: 'Roboto', sans-serif !important;
}
:not(svg):not(rect) {
    font-family: 'Roboto', sans-serif !important;

    &:not(a) {
        color: $white-color;
    }
}
.disabled {
    opacity: .4;
    pointer-events: none;
}

a {
    color: $accent-color;
    text-decoration: underline;
    cursor: pointer;
}
.primary-bg {
    background:$bg-color;
}
.secondary-bg {
    background:$nav-bg-color;
}
.primary-text {
    color:$text-color;
    font-size: .88rem;
}
.text {
    color: $text-color;
}
.primary-title {
    color: $white-color;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom:27px;
    margin-left:0 !important;
}
.primary-title-darker {
    color: $text-color;
}
.secondary-text {
    color: $secondary-color;
}
.accent-text {
    color: $accent-color;
}
.regular-text {
    font-size:$font-size;
    text-align: left;
    font-weight: normal;
}
.logo{
    margin:60px 0;
}
.ae-header {
    background: $nav-bg-color !important;
    border-color: $nav-border-color !important;
}
.error-msg {
    color: $secondary-color !important;
    margin-top:22px;
    font-size: .88rem;
}
.nav-title  {
    .title-text {
        margin-left:15px;
        font-weight: lighter;
    }
}
.arrow-back {
    cursor: pointer;
}

.heading-1 {
    font-size:18px;
    font-weight: normal;
    margin:8px 0;
}
.sub-heading {
    font-size:14px;
    font-weight: normal;
    margin:8px 0;
}
.uppercase {
    text-transform: uppercase;
}
.link-sm {
    font-size:11px;
    margin:8px 0;
}
.block {
    display:block;
}
/* Font size 14*/
.f-12 {
    font-size:12px;
}
.f-14 {
    font-size:14px;
}
.f-16 {
    font-size:16px;
}
.f-18 {
    font-size:18px;
}
.f-24 {
    font-size:24px;
}
.l-1 {
    line-height: 1.2;
}
.balance-box {
    width:80px;
    text-align: left;
    border-left:1px solid $border-color;
    padding-left:10px;
}
.amount-box {
    width: 120px;
}
.hidden {
    visibility: hidden;
}
.tip-note-preview {
    border-radius: 5px;
    border: 1px;
    padding: 10px;
    font-size:14px;
    border:1px dashed $text-color;
    margin-top:5px;
    margin-bottom:30px;
    text-align: left;
    word-break: break-word;
}

/**
* POPUP WINDWOS
*/
.popup-aex2 {
    max-height: 600px;
    min-height: 600px;
    margin-bottom:55px;
    position:relative;
    // overflow-y:scroll;
    h2 {
        word-break: break-word;
        line-height: 1.8rem;
        font-size: 1.2rem;
    }
    p {
        font-weight: normal;
        word-break: break-word;
        font-size: 0.9rem;
    }
    ul li {
        border-width:1px !important;
        border-color:#424242 !important;
    }
}

/** Noti styles */
.noti {
    font-size: 14px;
    margin: 14px auto 10px; 
}
.noti span {
    color: $accent-color !important;
    word-break: break-word;
}
.noti a {
    cursor: pointer;
    color: $accent-color !important;
}
.noti img {
    width:30px;
    margin-right: 10px;
}
.noti-list {
    margin-top:20px !important;
    .noti {
        background:$nav-bg-color;
        padding-left:10px !important;
        padding-right: 10px !important;
        text-align: left;
        margin:0 !important;
        border-color:#3a3a47 !important;
    }
}

/**
* Dynamic Margins Utilities Clasess
*/
@mixin margin-left($i) {
  margin-left: $i + px;
}
@mixin margin-right($i) {
    margin-right: $i + px;
}
@mixin margin-bottom($i) {
    margin-bottom: $i + px;
}
@mixin margin-top($i) {
    margin-top: $i + px;
}
@mixin margin-x($i) {
    margin-left: $i + px;
    margin-right: $i + px;
}
@mixin margin-y($i) {
    margin-top: $i + px;
    margin-bottom: $i + px;
}
@for $i from 1 through 40 {
  .ml-#{$i} { @include margin-left($i); }
  .mr-#{$i} { @include margin-right($i); }
  .mb-#{$i} { @include margin-bottom($i); }
  .mt-#{$i} { @include margin-top($i); }
  .mx-#{$i} { @include margin-x($i); }
  .my-#{$i} { @include margin-y($i); }
}
.mr-auto {
    margin-right: auto;
}

