$bg-color: #16161D;
$white-color: #F1F1F1;
$border-color: #34343B;
$input-bg-color: #121217;
$button-color: #505058;
$button-text-color: #BDBDBF;
$placeholder-color: #67676D;
$text-color: #BCBCC4;
$accent-color: #6A8EBE;
$secondary-color: #FF4784;
$nav-bg-color: #21212A;
$nav-border-color: #3A3A47;
$font-size: 16px;