$main-font-color: #333;

$main-color: #08c;

$input-background:#ececec;
$input-toolbar-background:#e0e0e0;
$input-toolbar-color:#000;
$primary-color:#FF0D6A;
$input-border-color:#B300FF;
$color-neutral-negative-1: #76818C;
$color-neutral-negative-2: #203040;
$color-alternative: #14CCB7;
$color-secondary:#6948A1;
$ledger-color:#203040;


/** Colors for new designs */ 

$bg-color: #16161D;
$white-color: #F1F1F1;
$border-color: #34343B;
$input-bg-color: #121217;
$button-color: #505058;
$button-text-color: #BCBCC4;
$placeholder-color: #67676D;
$text-color: #BCBCC4;
$accent-color: #6A8EBE;
$secondary-color: #FF4784;
$nav-bg-color: #21212A;
$nav-border-color: #3A3A47;
$scrollbar-color:#707075;
$submenu-bg: #1B1B23;
$black-color: #000;
$filters-bg:#111117;
$font-size: 16px;