$main-font-color: #333;

$main-color: #08c;

$input-background: #ececec;
$input-toolbar-background: #e0e0e0;
$input-toolbar-color: #000;
$primary-color: #ff0d6a;
$input-border-color: #b300ff;
$color-neutral-negative-1: #76818c;
$color-neutral-negative-2: #203040;
$color-alternative: #14ccb7;
$color-secondary: #6948a1;
$ledger-color: #203040;

/** Colors for new designs */

$bg-color: #12121b;
$white-color: #f1f1f1;
$border-color: #33343e;
$input-bg-color: #0d0d13;
$button-color: #2a9cff;
$button-text-color: #fff;
$modal-background: #1b1b23;
$placeholder-color: #67676d;
$text-color: #bcbcc4;
$accent-color: #67f7b8;
$secondary-color: #2a9cff;
$nav-bg-color: #1d1e27;
$input-focus-color: #2a9cff;
$input-error-color: #ff5857;
$error-color: #ff5857;
$transactions-bg: #12121b;
$nav-border-color: #3a3a47;
$tx-border-color: #33343e;
$box-button-color: #33343e;
$scrollbar-color: #707075;
$submenu-bg: #1b1b23;
$black-color: #000;
$filters-bg: #111117;
$untrustred-badge-bg: #ff5857;
$not-verified-badge-bg: #ffa857;
$tour-bg-color: #12121b;
$tour-start-bg-color: #33343e;
$gray-1: #babac0;
$gray-2: #727278;
$black-1: #21222c;
$white-1: #fff;
$font-size: 16px;
